<div class="container center">
      <div class="child center">
        <img src="img.jpg" alt="">
        <p>gjjfghohguhrufygydf</p>
        <span class="type">movie</span>
      </div>
      <div class="child center">
        <img src="img.jpg" alt="">
        <p>gjjfghohguhrufygydf</p>
        <span class="type">movie</span>
      </div>
      <div class="child center">
        <img src="img.jpg" alt="">
        <p>gjjfghohguhrufygydf</p>
        <span class="type">movie</span>
      </div>
      <div class="child center">
        <img src="img.jpg" alt="">
        <p>gjjfghohguhrufygydf</p>
        <span class="type">movie</span>
      </div>
      <div class="child center">
        <img src="img.jpg" alt="">
        <p>gjjfghohguhrufygydf</p>
        <span class="type">movie</span>
      </div>
      <div class="child center">
        <img src="img.jpg" alt="">
        <p>gjjfghohguhrufygydf</p>
        <span class="type">movie</span>
      </div>
      <div class="child center">
        <img src="img.jpg" alt="">
        <p>gjjfghohguhrufygydf</p>
        <span class="type">movie</span>
      </div>
      <div class="child center">
        <img src="img.jpg" alt="">
        <p>gjjfghohguhrufygydf</p>
        <span class="type">movie</span>
      </div>
      <div class="child center">
        <img src="img.jpg" alt="">
        <p>gjjfghohguhrufygydf</p>
        <span class="type">movie</span>
      </div>
      <div class="child center">
        <img src="img.jpg" alt="">
        <p>gjjfghohguhrufygydf</p>
        <span class="type">movie</span>
      </div>
      <div class="child center">
        <img src="img.jpg" alt="">
        <p>gjjfghohguhrufygydf</p>
        <span class="type">movie</span>
      </div>
      <div class="child center">
        <img src="img.jpg" alt="">
        <p>gjjfghohguhrufygydf</p>
        <span class="type">movie</span>
      </div>
    </div>