<div class="text-image review">
  <span class="type">
  </span>
  <img src="https://image.tmdb.org/t/p/w342//blEC280vq31MVaDcsWBXuGOsYnB.jpg" class="review-img">
  <span class="text">
    <p class="font-small text-image">mooney240
      <p class="date">Fri Dec 16 2022</p>
    </p>
    <p class="font-small content">**Avatar: The Way of Water follows in its predecessor’s footsteps with stunning effects and a mediocre story.**
    </p>
  </span>
  </span>
  <img src="https://image.tmdb.org/t/p/w342//blEC280vq31MVaDcsWBXuGOsYnB.jpg" class="review-img">
  <span class="text">
    <p class="font-small text-image">mooney240
      <p class="date">Fri Dec 16 2022</p>
    </p>
    <p class="font-small content">**Avatar: The Way of Water follows in its predecessor’s footsteps with stunning effects and a mediocre story.**
    </p>
  </span>
  </span>
  <img src="https://image.tmdb.org/t/p/w342//blEC280vq31MVaDcsWBXuGOsYnB.jpg" class="review-img">
  <span class="text">
    <p class="font-small text-image">mooney240
      <p class="date">Fri Dec 16 2022</p>
    </p>
    <p class="font-small content">**Avatar: The Way of Water follows in its predecessor’s footsteps with stunning effects and a mediocre story.**
    </p>
  </span>
  </span>
  <img src="https://image.tmdb.org/t/p/w342//blEC280vq31MVaDcsWBXuGOsYnB.jpg" class="review-img">
  <span class="text">
    <p class="font-small text-image">mooney240
      <p class="date">Fri Dec 16 2022</p>
    </p>
    <p class="font-small content">**Avatar: The Way of Water follows in its predecessor’s footsteps with stunning effects and a mediocre story.**
    </p>
  </span>
  </span>
  <img src="https://image.tmdb.org/t/p/w342//blEC280vq31MVaDcsWBXuGOsYnB.jpg" class="review-img">
  <span class="text">
    <p class="font-small text-image">mooney240
      <p class="date">Fri Dec 16 2022</p>
    </p>
    <p class="font-small content">**Avatar: The Way of Water follows in its predecessor’s footsteps with stunning effects and a mediocre story.**
    </p>
  </span>
  </span>
  <img src="https://image.tmdb.org/t/p/w342//blEC280vq31MVaDcsWBXuGOsYnB.jpg" class="review-img">
  <span class="text">
    <p class="font-small text-image">mooney240
      <p class="date">Fri Dec 16 2022</p>
    </p>
    <p class="font-small content">**Avatar: The Way of Water follows in its predecessor’s footsteps with stunning effects and a mediocre story.**
    </p>
  </span>
</div>