<div class="child trending">
      <div class="center">
        <img src="../img.jpg">
        <p class="info">Black panther</p>
      </div>
      <span class="trend">
        <p class="rank">2</p>
        <p class="info">Black panther</p>
      </span>
      <span class="trend">
        <p class="rank">3</p>
        <p class="info">Black panther</p>
      </span>
      <span class="trend">
        <p class="rank">4</p>
        <p class="info">Black panther</p>
      </span>
      <span class="trend">
        <p class="rank">5</p>
        <p class="info">Black panther</p>
      </span>
      <span class="center">
        <p >more</p>
      </span>
    </div>